<!-- START Sidebar-->
<div class="sidebar-wrapper">

    <div ui-sidebar="" class="sidebar">
        <div class="sidebar-nav">
            <ul class="nav">
                <li ui-sref-active="active">
                    <a href="#/app/list-movies" title="Movies List" ripple="">
                        <em class="fa fa-list"></em>
                        <span translate="Movies List">Movies List</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a href="#/app/movie-new" title="Movies List" ripple="">
                        <em class="fa fa-plus"></em>
                        <span translate="New Movie">New Movie</span>
                    </a>
                </li>


            </ul>
        </div>
    </div>

</div>
<!-- END Sidebar-->
