<div class="form-group mb-xl shadow-z1">
    <div class="input-group">
        <input type="text" placeholder="Search ..." class="form-control input-filter  ng-pristine ng-untouched ng-valid form-control-rounded input-sm" my-enter="searchFunc()" ng-model="search.search">
        <span class="input-group-btn">
            <button type="button" class="btn btn-info btn-sm" ng-click="searchFunc()" ladda="search_loading" data-style="expand-right"><i class="fa fa-search"></i></button>
        </span>
    </div>
</div>

